<header>
  <nav class="nav-bar col-l-12">
    <div class="nav-container">
      <!--flex-->
      <div class="img-logo-container">
        <a href="/"><img src="/images/doja14.png" class="doja-img"></a>
        <div class="doja-text-container">
          <a href="/">
            <h1 class="doja-text">DO<span id="doja-end">JA</span></h1>
          </a>
        </div>
      </div>

      <div class="link-container-l col-l-10">
        <!-- flex-->
        <% if (currentUser === null) { %>
        <a class="login-nav col-l-1" onclick="loginRender()">Log In</a>
        <a class="login-nav col-l-1" href="/auth/signup">Sign up</a>
        <% } %>

        <div class="dropdown col-l-1">
          <button class="settings col-l-2"><img src="/images/menu.png" class="menu-img"></button><!-- add an image here-->
          <ul class="list-settings list-1 col-l-2 ">
            <%if(user) {%>
            <li>
              <a href="/user/<%=user._id%>" title="My Profile">Profile</a>
            </li>
            <%}%>
            <li>
              <a href="/auth/logout" title="Log Out">Log Out</a>
            </li>
            <li>
              <a href="#" onclick="getNotif(event)" title="Notifications">Notifications</a>
            </li>
          </ul>
          </button>
        </div>
      </div>


    </div>
  </nav>


  <div class = "flash-notif" style = "display:none;">
    <div class = "notif-content">

    </div>
  </div>

  <script> const userId = "<%=user._id%>"; </script>
</header>