<header>
  <nav class="nav-bar col-l-12 col-m-12 col-s-12">
    <div class="nav-container">
      <!--flex-->
      <div class="img-logo col-l-2 col-m-4 col-s-5">
        <div class="img-logo-container">
          <img src="/images/doja-logo1.png" class="doja-img">
          <!-- <img src = "doja-text.png" class="doja-text"> -->
          <div id="doja-text-container">
            <!-- <h1 class="doja-text">Doja</h1> -->
            <img src = "/images/doja-text.png" class = "doja-text">
          </div>
        </div>

      </div>
      <div class="link-container-l col-l-10 col-m-9">
        <!-- flex-->
        <button type="submit" class="log-in col-l-1">Log In</button>
        <div class="dropdown col-l-1 col-l-2">
          <button class="settings col-l-2 btn-set1">O</button><!-- add an image here-->
          <ul class="list-settings list-1 col-l-2 col-m-3">
            <li>
              <a href=" profile.html" title="My Profile">Profile</a>
            </li>
            <li>
              <a href="log-out.html" title="Log Out">Log Out</a>
            </li>
            <li>
              <a href="notifications.html" title="Notifications">Notifications</a>
            </li>
          </ul>
          </button>
        </div>
      </div>

      <div class="link-container-s col-s-6">
        <div class="container-btns">
          <div class="dropdown col-s-2 col-l-2">
            <button class="settings col-s-1 btn-set2">O</button>
            <!--add an image here-->
            <ul class="list-settings col-s-3 list-2">
              <li>
                <a href="profile.html" title="My Profile">Profile</a>
              </li>
              <li>
                <a href="log-in.html" title="Log In">Log Out</a>
              </li>
              <li>
                <a href="notifications.html" title="Notifications">Notifications</a>
              </li>
            </ul>
            </button>
          </div>
          <button class="menu col-s-1 col-l-2">=</button>
        </div>

      </div>
    </div>
    <div class="slide-container col-s-4">
      <!-- flex-->
      <a href="cp.html" class="links">CP</a>
      <a href="dev.html" class="links">Dev</a>
      <a href="blog.html" class="links">Blog</a>
      <a href="peer.html" class="links">Peer</a>
    </div>
    </div>
    </div>

  </nav>
</header>