<header>
  <nav class="nav-bar col-l-12">
    <div class="nav-container">
      <!--flex-->
      <div class="img-logo-container">
        <img src="/images/doja14.png" class="doja-img">
        <div class="doja-text-container">
          <h1 class="doja-text">DO<span id="doja-end">JA</span></h1>
        </div>
      </div>

      <div class="link-container-l col-l-10">
        <!-- flex-->
        <a class="login-nav col-l-1" onclick="loginRender()">Log In</a>
        <a class = "login-nav col-l-1" href = "/user/signup">Sign up</a>
        
        <div class="dropdown col-l-1">
          <button class="settings col-l-2"><img src="/images/menu.png" class="menu-img"></button><!-- add an image here-->
          <ul class="list-settings list-1 col-l-2 ">
            <li>
              <a href=" profile.html" title="My Profile">Profile</a>
            </li>
            <li>
              <a href="log-out.html" title="Log Out">Log Out</a>
            </li>
            <li>
              <a href="notifications.html" title="Notifications">Notifications</a>
            </li>
          </ul>
          </button>
        </div>
      </div>


    </div>



  </nav>
</header>