
<div class="form-container1-signup">
  <div class="form-container2-signup">
    <div id = "logo-container-signup">
      <img src = "/images/logo.png" id = "logo-login-signup">
      <a onclick="signupRender()"><img src ="/images/close1.png" id = "close-img-signup"></a>
    </div>
    <div id = "user-container"><img src = "/images/user-img.png" id = "user-img-signup"></div>
    <div class="form-container3">
      <form method="POST" action="/signup" class="form-validate signup">
        <label for="username" id = "label-username-signup">User Name</label>
        <input type="text" name="username" id="username-signup" class="required">

        <label for = "email" id = "label-email-signup">Email </label>
        <input type = "email" name ="email" id = "email-signup" class = "required">

        <label for="password" id = "label-password-signup">Password</label>
        <input type="password" name="password" id="password-signup" class="required">

        <button type="submit" id="submit-signup">Sign Up</button>
        <div id = "empty"></div>
      </form>
    </div>
  </div>
</div>