<%- include("../partials/header") %>
<main>
  <%- include("../partials/navbar") %>
  <body>
    
    <%-body %>


  </body>


  <script src="/scripts/main.js"></script>


<%- include("../partials/footer") %>

</main>

</html>