<%- include("../partials/header") %>
<main>
  <header>
    <nav class="nav-bar col-l-12">
      <div class="nav-container">
        <!--flex-->
        <div class="img-logo-container">
          <img src="/images/logo.png" class="doja-logo">
        </div>

      </div>



    </nav>
  </header>

  <body>

    <%-body %>
  </body>


  <!-- <script src="/scripts/main.js"></script> -->
  <!-- <script src="/scripts/renderLogSign.js"></script> -->



  <%- include("../partials/footer") %>

</main>

</html>