<% layout("layouts/boilerplate") %>


<div class="main-container col-l-12 col-m-12 col-s-12">
  <!-- flex-->
  <div class="overlay-container"> </div>

  <div class="sidebar-container col-l-2 col-m-2 col-s-12">
    <div class="sidebar col-l-2 col-m-2 col-s-4">
      <% if (user !== null) { %>
      <div class="user-info">
        <!-- add a centered round image here , by first adding to schema-->
        <a href = "/user/<%=user._id%>/"><h3 id="username"><%=user.name%></h3></a>
        <hr>
      </div>
      <% }%>

      <ul class = "sidebar-menu"> <!--flex-->
          <li>
            <a href="/contest/running">Running Contests</a>
          </li>
          <li>
            <a href="/contest/running">Problemset</a>
          </li>
          <li>
            <a href="/contest/create">Create Contest</a>
          </li>
          <li>
            <a href="/contest/running">Create Team</a>
          </li>
          <li>
            <a href="/contest/solved">Solved Contests</a>
          </li>
          <li>
            <a href="/contest/all">All Contests</a>
          </li>
      </ul>

    </div>
  </div>

  <div class="content-box col-l-10 col-m-10 col-s-12">
    <div class="content">

    </div>
  </div>
</div>