<% layout("layouts/boilerplate") %>


<div class="main-container col-l-12 col-m-12 col-s-12">
  <!-- flex-->
  <div class="overlay-container"> </div>

  <div class="sidebar-container col-l-2 col-m-2 col-s-12">
    <div class="sidebar col-l-2 col-m-2 col-s-4">

    </div>
  </div>
  
  <div class="content-box col-l-10 col-m-10 col-s-12">
    <div class="content">

    </div>
  </div>
</div>