.problem-col-25 {
    width: 25%;
    display: inline-block;
}

.problem-col-75 {
    width: 75%;
}

.problem-box {
    width: 100%;
    /* height: 2rem; */
    margin-bottom: 2rem;
    background-color: powderblue;
    text-align: center;
    color: var(--navbar-color);
}

.problem-container {
    display: block;
    margin-top: 2rem;
    margin-bottom: 5rem;
    ;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid rgb(214, 214, 214);
}

.problem {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#problem-submit {
    display: block;
    width: 6rem;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}


.textbox {
    width: 90%;
    height: 150px;
    resize: none;
}

.problem-item {
    margin-bottom: 2rem;
    margin-left: 5%;
    display: flex;
}


input {
    padding: 0.5rem;
    width: 50%;
}

/* #textarea-box{
    margin-bottom: 100px;
} */


#problem-create {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 100px;
    font-size: 1.2rem;
    background-color: var(--main-color3);
    border-radius: 0.5rem;
    border: 1px solid rgb(39, 39, 39);
    color:black;
    padding: 5px;
    text-shadow: 1px 1px 1px var(--shadow-color-light);
    box-shadow: 0px 2px 4px 1px rgb(97, 97, 97);
}

input {
    border: 1px solid rgb(194, 193, 193);
}


.disp-none {
    display: none;
}

.disp-block {
    display: block;
}


.add{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    background-color: cornflowerblue;
    border : 1px solid black;
    box-shadow: 0px 2px 4px 1px rgb(97, 97, 97);
    margin-bottom: 4rem;
    border-radius: 0.5rem;
    padding : 5px;
}


.mytextarea{
    width : 60%;
    height : 200px;
    font-size: 1.1rem;
    resize:none;
}